<html>
    <head>
        <title>EvgeniyEV</title>
    </head>
    <body>
        <div>
            <h1><a href="/">TODO List</a></h1>
        </div>

        <div>
            <p>published: 26.02.18, 03.36</p>
            <h2><a href="">Задание1</a></h2>
            <p><input type="checkbox" name="a" value="done">Узнать, что существует задание</p>

        </div>

        <div>
            <p>published: 26.02.18, 03.37</p>
            <h2><a href="">My second task</a></h2>
            <p><input type="checkbox" name="a" value="done">Настроить часы в ubuntu</p>
        </div>

        <div>
            <p>published: 26.02.18, 12.39</p>
            <h2><a href="">My third task</a></h2>
            <p><input type="checkbox" name="a" value="done">Найти хороший гайд на джанго, сделать задание</p>
        </div>
    </body>
</html>